.hero {
    height: 80vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(202, 199, 199, 0.342), rgba(148, 148, 148, 0.397)), url(./hero/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    color: #000;
}

.hero-title {
    font-size: 4em;
    text-transform: uppercase;
    animation-name: hero-title;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.hero-subtitle {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 10px;
    animation-name: hero-subtitle;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@media(min-width: 600px) {
    .hero {
        height: 90vh;
    }
}

@keyframes hero-title {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hero-subtitle {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}